body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 30px;
    font-family: 'Lexend Deca', sans-serif;
    overflow-x: hidden;
}
.header {
    height: 34vw;
    background-color: rgb(84, 21, 84);
}

.nav {
    display: flex;
    height: 5vw;
    padding-left: 13vw;
    padding-right: 3vw;
    padding-top: 0.2vw;
    box-sizing: border-box;
    align-items:center;
    font-family: 'Lexend Deca', sans-serif;
    background-color: rgb(84, 21, 84)
}
.nav .logo {
    padding-right: 2vw;
    height: 3vw;
}
.nav a{
    font-weight: 500;
    color: white;
    font-size: 14px;
    padding-right: 1vw;
    display: flex;
    text-align: center;
}
span.drop-down {
    padding-bottom: 5px;
}

.search {
    height: 18px;
    padding-left: 12vw;
    padding-right: 1vw;
}

.nav button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    font-weight: 450;
    height: 2.7vw;
    background-color: white;
    color: rgb(84, 21, 84);
    border: none;
    border-radius: 4px;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
}



#sales{
    font-weight: 400;
    color: white;
    background-color: rgb(84, 21, 84);
    border: 1px solid;
    margin-left: 2vw;
    margin-right: 1vw;
}

.landing {
    margin-left: 14vw;
    margin-top: 2vw;
    width: 100%;
    display: inline-block;
}

.landing h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    padding-bottom: 0px;
    margin: 0;
}
.prod {
    color: rgb(236, 178, 46);
}

.landing p {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 300;
    width: 35vw;
}


.landing-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    margin: 0;
}

.landing-video {
    margin-top: 0.7vh;
    margin-left: 2vw;
    height: 100%;
    width: 90%;
}

.landing button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    font-weight: 450;
    background-color: white;
    color: rgb(84, 21, 84);
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    padding: 20px 40px 20px 40px;
    cursor: pointer;
}

p.landing-text{
    font-size: 18px;
    display: block;
    margin-top: 20px;
}

span.dummy {
    font-weight: 600;
}

.main {
    font-family: 'Lexend Deca', sans-serif;
    background-color: rgb(244, 237, 228);
    height: 100%;
    margin-top: -2vw;
    align-items: center;
}


.main h3 {
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-top: 40px;
}

.main img {
    width: 120px;
    margin: 30px;
    margin-top: 0;
    display: inline-block;
}
img.seek {
    position: relative;
    top: 10px;
}
img.xero {
    width: 60px;
    position: relative;
    top:10px
}

img.rea {
    width: 160px;
}
img.ibm {
    width: 100px;
}
img.deliveroo {
    width: 160px;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6vw;
    margin: 0;
    margin-left: 13vw;
    margin-top: 2vw;
    padding-bottom: 2vw;
}
.main-text {
    text-align: center;
}


.main-text h1 {
    margin-top: 3vw;
    text-align: left;
    font-size: 46px;
    font-weight:600;
    width: 30vw;
    letter-spacing: -1px;
}

.main-text p {
    width: 26vw;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
}

.main-text a {
    color: rgb(18, 100, 163);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    display: flex;
    text-decoration: none;
}
/*
a.hover-animation:hover::before {
    transform: scaleX(1);
}  

a.hover-animation::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: rgb(18, 99, 160);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}
*/

.main-video {
    height: 100%;
    width: 100%;
}

#video1 {
    margin-left: -5vw;
}

.main-sub {
    background-color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
}
.main-sub h1 {
    font-size: 45px;
    display: inline-block;
    font-weight: 600;
    letter-spacing: -2px;
    padding-top: 3vw;
    margin-bottom: 0px;
    height: fit-content;
}
.main-sub h6 {
    font-size: 18px;
    display: inline-block;
    font-weight: 300;
    margin-top: 1vw;
}

img.emoji {
    display: inline;
    width: 100px;
    height: 60px;
}

#i1{
    position: relative;
    left: 16vw;
    top: 2vw;
}

#i2 {
    position: relative;
    left: 0vw;
    top: 8vw;
}

#i3 {
    position: relative;
    top: 8vw;
    left: 15vw;
}

#i4 {
    position: relative;
    top: 2vw;
}

#i5 {
    position: relative;
    top: 8vw;
    right: 15vw;
}

#i6 {
    position: relative;
    top: 8vw;
    right: 3vw;
}


#btn {
    display: flex;
    cursor: pointer;
}


#enterprise {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    font-weight: 450;
    background-color: rgb(84, 21, 84);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 1.3vw 1.8vw 1.3vw 1.8vw;
    margin-left: 14vw;
    cursor: pointer;
}

#talk {
    color: rgb(84, 21, 84);
    font-weight: 600;
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
    padding: 1.3vw 1.8vw 1.3vw 1.8vw;
    margin-left: 1vw;
    cursor: pointer;
}

.flex-container {
    display: flex;
    background-color: white;
    justify-content: center;
    gap: 10vw;
    padding-top: 3vw;
}
.flex-container h1 {
    color: rgb(84, 21, 84);
    text-align: center;
    margin: 0px;
}
.flex-container p {
    font-size: 14px;
    margin-left: 5.5vw;
    text-align: left;
    width: 13vw;
}

div#container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 6vw;
    padding: 5vw 0 0 0;
    background-color: white;
}

#video3 video{
    height: 70%;
    width: 130%;
    margin-left: -5vw;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    
}

#container-text{
    position: relative;
    margin-top: 3vw;
    width: 100%;
}

#container-text p {
    font-size: 25px;
    font-weight: 250;
    margin-right: 0px;
    width: 95%;
    font-style: italic;
}

p#name {
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

p#dir {
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
}

p#disclaimer {
    margin-top: -120px;
    background-color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
}

.card-container {
    background-color: rgb(244, 237, 228);
    display: flex;
    gap: 2vw;
    justify-content: center;
    height: 550px;
}

div.card {
    background-color: rgb(255, 255, 255);
    width: 290px;
    height: 470px;
    transition:  box-shadow transform .3s ease-out;
}

div.card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 32px 0px;
    transition:  box-shadow .3s ease-in;
    transform: scale(1.05);
}
/* 
.card {
    text-align:center;
    margin-right: 40%;
    margin-left: 40%;
    width: 350px;
    height: 400px;
    background: white;
    box-shadow: 0px 0px 0px grey;
    -webkit-transition:  box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px grey;
  
}
.card:hover{ 
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
} */

.card img {
    padding: 15px;
    align-self: center;
    width: 90%;
    height: 50%;
    margin: 0%;
}
h3#header{
    text-align: center;
    background-color: rgb(244, 237, 228);
    margin: 0%;
    padding: 40px;
    font-size: 32px;
}

.card h6 {
    font-size: 14px;
    font-weight: 300;
    padding-left: 1vw;
    margin: 0%;
}

.card h3 {
    font-size: 22px;
    padding: 0 0 0 1vw;
    overflow: hidden;
    display: block;
}

.card a {
    position: relative;
    top: 30px;
    font-size: 10px;
    padding-left:1vw;
    text-decoration: none;
    color: rgb(18, 100, 163);
}

a#link {
    position: relative;
    top: 0px;
}

.footer {
    background-color: rgb(74, 21, 75);
    color: white;
    height: 370px;
    font-size: 32px;
    text-align: center;
    clip-path: ellipse(75% 100% at 50% 0%);
}
.footer h1 {
    font-weight: 450;
    margin: 0;
    padding: 100px;
    padding-bottom: 50px;
}

.footer button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    font-weight: 450;
    background-color: white;
    color: rgb(84, 21, 84);
    border: none;
    border-radius: 4px;
    padding: 1vw 2vw 1vw 2vw;
    cursor: pointer;
}

#sales2{
    font-weight: 400;
    color: white;
    background-color: rgb(84, 21, 84);
    border: 1px solid;
}

div.footer-links {
    display: flex;
    background-color: white;
    justify-content: center;
    gap: 9vw;
}

#logo {
    margin: 60px 0 0 10px;
    width: 60px;
    justify-content: center;
} 

.footer-links h6 {
    font-size: 14px;
    font-weight: 500;
}

.footer-links a {
    font-size: 14px;
    display: block;
    margin: 15px 0 15px 0;
    text-decoration: none;
    color: rgb(69, 66, 69);
    font-weight: 300;
    transition: color 0.2s ease;
}

.footer-links a:hover {
    color: rgb(18, 100, 163);
}
 hr {
    width: 80%;
    color: rgba(0, 0, 0, 0.431);
 }

 .foot a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
    margin-right: 1%;
    transition: color 0.1s;
 }

 .foot a:hover {
    color: rgb(18, 100, 163);
 }

 #status {
    margin-left: 10%;
 }

 #download {
    margin-left: 18%;
 }

 .foot p {
    margin-left: 10%;
    font-size: 12px;
    font-weight: 400;
 }

